.chat-engine {
    position: absolute;
    width: 350px;
    height: 400px;
    background-color:cadetblue;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    padding: 5px;
    display: none;
    
}