@charset "utf-8";

// ==========================================================================
// vendor
// ==========================================================================

// ==========================================================================
// Layout
$mainColor1: #234A4D;
$mainColor2: #F9D081;
$mainColor3: #FFFAD4;
$mainColor4: #6F333D;
// ==========================================================================

