@import '/src/assets/scss/index.scss';

.header-bar {
    display: flex;
    height: 70px;
    position: static;
    width: 100vw;
    background-color: $mainColor1;
    justify-content: center;
    align-items: center;
    &-search {
        position: absolute;
        width: 30vw;

    }
}