
.banner {
	display: block;
	width: 100%;
	height: 100vh;
	position: relative;
	// z-index: 1;
	
	&-carousel {
		height: 100%;

		.nav {
			transform: scaleZ(1000);
		}

		.navw {
			transform: scaleZ(1000);
		}
	}
}