.jobs-carousel-item {

    margin: 4rem auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
    height: 610px;
    width: 1130px;
    background-color: #F7FAFA !important;
}