.hiring {
    position: relative;
    height:fit-content;
    background-color: #FAF7F7;
    h1, h2 {
        background-color: #FAF7F7;
    }

    h1 {
        font-size: 50px;
        text-transform: capitalize;
        margin: 0 50px 20px;
        padding-top: 30px;
    }

    h2 {
        margin-left: 50px;
    }
}