.hiring-carousel-jobs {
    background-color: yellow;
    
    // &-carousel {
    //     background-color: aqua;
    // }
    .cc {
        width: 100%;
        height: 100px;
        background-color: red;
    }
}